body {
  margin: 0;
}

/*header*/
header{
  display:flex;
  width:100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: verdana;
  font-size: 14px;
  font-weight:bold;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;

}
.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;

}
nav span{

  padding-right: 40px;
  display: inline-block;
  width: 30px;
}
nav a {
  color: black;
}


/*content*/
/*.container{
  margin-top: 50px;
  width:100%;
  height: auto;
  border: 1px solid black;
  background-color: white;*/


.column {
  width: 100%;
  height: auto;

  display: flex;

  flex-direction:row;
  justify-content: center;
  padding-top: 150px;
}
.large {
  width: 630px;

  margin-right: 20px;
}

.medium{
  width: 300px;

  margin-right:20px;
}
 .small {
  width: 240px;

}
.column p,h3{
font-family: Georgia;
font-size: 17px;
color: black;
}
/*Editing Large Columns */
.box1, .box2, .box3{

}
.box1{
  background-color: white;
}
.box2n3{
  display: flex;
  justify-content: space-around;
}
}
.box2{


}
.box3{


}
.orca, .breakfast{
  padding: 15px 15px;
}

.earth{
display:flex;
height:300px;
align-items: center;
width: auto%;
margin: 10px 10px;
background-image: url("http://news.rakyatku.com/thumbs/img_660_442_gerhana-bu_1517369510Bumi.jpg")
}

.camera {
  display: flex;
  height: 300px;
  width: auto%;
  margin: 10px 10px;
  justify-content:center;
  align-items: center;
  background-image:url("http://2.citynews-milanotoday.stgy.ovh/~media/original-hi/25574050584160/photo-7.jpeg")
}




/*Main-Story*/
.mainstory {
  display：flex;
  width: 100%;
  height: 300px;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png")
}
.mainstory h1 {
font-family: Georgia;
font-weight: bold;
font-size: 40px;
color: white;
}
/*SubStory1 & Camera*/ /*For this part, if you place background image before saying the width and height it wont work*/

 h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}


/*Medium Column*/
.cat {
  display: flex;
  width:100%;
  height: 200px;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png")
}
